#local_ce_loader {
    width: 100%;
    height: 10em;
    background:url([[pix:local_ce|3dolms]]) no-repeat top center;
    display: inline-block;
}

div.local-ce-dock-cap {
    display: block;
    height: 100px;
    width: 40px;
    background: url([[pix:local_ce|dock-background-left-dark]]) bottom left no-repeat;
}

div.local-ce-dock-cap.local-ce-dock-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.local-ce-dock-left {
    float: left !important;
}

div.local-ce-dock-cap.right {
    background-position: right bottom;
    position: absolute;
    top: 0px;
    right: 0px;
}

ul.local-ce-dock {
    display: inline-block;
    height: 130px;
    padding: 0 40px 0 0;
    background: url([[pix:local_ce|dock-background-left-dark]]) no-repeat right bottom;
    overflow: hidden;
    margin: 0 0 0 40px;
}

ul.local-ce-dock li {
    display: block;
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin: 60px 0 4px 0;

    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    transition: 0.15s linear;

    -webkit-transition-property: -webkit-transform margin;
    -moz-transition-property: -moz-transform margin;
    -o-transition-property: -o-transform margin;
    -ms-transition-property: -ms-transform margin;
    transition-property: transform margin;
    text-align: center;

    pointer-events:auto;
}

ul.local-ce-dock li a {
    display: block;
    height: 50px;
    padding: 0 1px;

    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    transition: 0.15s linear;

    -webkit-transition-property: -webkit-transform margin;
    -moz-transition-property: -moz-transform margin;
    -o-transition-property: -o-transform margin;
    -ms-transition-property: -ms-transform margin;
    transition-property: transform margin;
    margin: 0;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}

ul.local-ce-dock li a img {
    width: 48px;
}

ul.local-ce-dock li:hover {
    margin-left: 9px;
    margin-right: 9px;
    z-index: 200;
}

ul.local-ce-dock li:hover a {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;

    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

ul.local-ce-dock li.nearby {
    margin-left: 6px;
    margin-right: 6px;
    z-index: 100;
}

ul.local-ce-dock li.nearby a {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;

    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

ul.local-ce-dock li span {
    background: rgba(0,0,0,0.75);
    position: absolute;
    bottom: 80px;
    margin: 0 auto;
    display: none;
    width: auto;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
}

ul.local-ce-dock li:hover span {
    display: block;
}

div#local-ce-dock-container {
    position: fixed;
    bottom: 65px;
    height: 120px;
    padding: 50px 0 0;
    text-align: center;
    border-radius: 6px;
    width: 100%;
    line-height: 1;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
}

div#local-ce-dock-wrapper {
    width: auto;
    display: inline-block;
    position: relative;
    border-bottom: solid 2px rgba(255,255,255,.35);
    line-height: 0;
    transition: background 0.3s ease-out;
}
