{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ce/set_dock
}}
<div id="local-ce-dock-container">
    <div id="local-ce-dock-wrapper">
        <div class="local-ce-dock-cap local-ce-dock-left"></div>
        <ul class="local-ce-dock">
        {{#sets}}
            <li>
                <span>{{name}}</span>
                <a href="{{seturl}}" title="{{name}}"><img src="{{seticonurl}}" /></a>
            </li>
        {{/sets}}
        </ul>
    </div>
</div>

